.joosc
PeepholeBenchmarks/*/*.class
PeepholeBenchmarks/*/*.j
PeepholeBenchmarks/*/*.java
PeepholeBenchmarks/*/*.dump
PeepholeBenchmarks/*/*.optdump
JOOSA-src/*.o
JOOSA-src/joos
JOOSA-src/lex.yy.c
JOOSA-src/y.tab.*
JOOSA-src/.tags*
test/*
*.class
